<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>   
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_base.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">

        <a class="navbar-brand" id="home" href="{% url 'load_menu' %}">Home</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="navbar-brand" style="padding-left: 2vh; padding-right: 2vh;" id="add_category" href="{% url 'load_category' %}">Add Category</a>
            </li>
            
            <li class="nav-item">
              <a class="navbar-brand" style="padding-left: 2vh; padding-right: 2vh;" id="add_product" href="{% url 'load_product' %}">Add Products</a>
            </li>

            <li class="nav-item">
              <a class="navbar-brand" style="padding-left: 2vh; padding-right: 2vh;" id="show_category" href="{% url 'show_category' %}">Show Category</a>
            </li>

            <li class="nav-item">
              <a class="navbar-brand" style="padding-left: 2vh; padding-right: 2vh;" id="show_product" href="{% url 'load_show_products' %}">Show Products</a>
            </li>

            <li class="nav-item">
              <a class="navbar-brand" style="padding-left: 2vh; padding-right: 2vh;" id="show_user" href="{% url 'load_show_user' %}">Show Users</a>
            </li>

            <li class="nav-item">
              <a class="navbar-brand" style="padding-left: 2vh; padding-right: 2vh;" id="logout" href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
        </div>
    </nav>
    {% block content %}
            
    {% endblock %}
</body>
</html>