<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<style>
    img{
        height: 100%;
        width: 100%;
    }

.centered {
    position: absolute;
    top: 50%;
    left: 25%;
}
input{
    background-color: red; 
    height: 3vh; 
    width:20vh;
    font-size: 2vh;
}
</style>
<body>
    <img src="{% static 'img/construction.png' %}" alt="">
    <div class = "centered">
        <input class="back" type="button" value="Back" onclick="javascript:history.go(-1)" >   
    </div>
</body>
</html>